In [1]:
import pandas as pd
import numpy as np
import goslate

df = pd.read_csv('concept_dictionary_user.csv')
gs = goslate.Goslate(writing=goslate.WRITING_ROMAN)
df.head()

      Label     Hindi      Eng    Marathi Telugu German Japanese
0      KA_1      KA_1    eat_1       KA_1   winu    NaN      NaN
1  ladakA_1  ladakA_1    boy_1   mulagA_1    NaN    NaN      NaN
2  kiwAba_1  kiwAba_1   book_1  puswaka_1    NaN    NaN      NaN
3    PaDa_1    PaDa_1   Read_1     Vaca_1    NaN    NaN      NaN
4    PaDa_2    PaDa_2  study_1     Sika_1    NaN    NaN      NaN

In [2]:
df = df[df['Eng'].notna()]

In [3]:
english = [word.split('_') for word in df['Eng'].values]

In [4]:
def translate(word):
    '''Returns Japanese translated string'''
    return gs.translate(word, 'en', 'ja')

In [5]:
#translate(english[0][0])

In [6]:
#japanese = [translate_en_jap(word[0])+'_'+word[1] if len(word) == 2 else translate_en_jap(word[0]) for word in tqdm(english)]

In [7]:
buffer = translate([word[0] for word in tqdm(english)])
japanese = [w1+'_'+w2[1] if len(w2) == 2 else w1 for w1, w2 in tqdm(zip(buffer, english))]

In [8]:
# Write to df and file
df['Japanese'] = japanese
df.to_excel('output.xlsx')